html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

li{
	list-style-type: square;
}


.no_bullet{
  list-style-type: none;
}

.no_bullet li:last-child{
  list-style-type: space;
  color: violet;
}
/* Part 4 */

